@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


*{
    box-sizing: border-box;
}

body {
    background-color: #141e28;
    color: linen;
    background-color: rgb(20, 30, 40);
}

h1 {
    font-size: 50px;
    color: orangered;
    font-family: 'Anton', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 25px;
    color: orangered;
    font-family: sans-serif;
}

ul {
    display: flex;
    flex-direction: column;
} 


span, p {
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px;
}
@media only screen and (max-width: 600px) {
    body {
      display: flex;
      justify-content: center;
    }
}
